@import "../helpers/mixins";

.consumption-highlights{
    position: relative;
    overflow: hidden;
    margin:20px 0;
    .consumption-highlight__item{
        background-color: #073179;
        border-radius: 50px 0 0 50px;
        float: right;
        margin: 10px 0;
        @include box-shadow;

        &:nth-child(2){
            h2{
                padding-left:10px;
            }
        }

        h2{
            color:white;
            font-size: 18px;   
            padding: 15px 0 15px 25px;
            text-align: right;
            margin: 0 10px;
            font-weight: 100;
        }
    }
}
.image--padding{
    padding: 15px;
}
.img--margin{
    margin-top: 30px;
}
.paper-container{
    position: relative;
    width: 90%;
    margin: 20px auto;
.paper-folder{
    background-color:#000033;
    width:100%;
    height:200px;
    border-radius: 15px 30px 0 0;
    z-index:1;
    overflow:hidden;
    position: absolute;

    &.folder-bg--green{
        background-color: #77B290;
        .paper-folder__front{
            background-color: #B4D4C2;
        }
    }
    &.folder-bg--blue{
        background-color: #0F2A4A;
        top: 140px;
        .paper-folder__front{
            background-color: #284A72;
        }
    }
    h2{
      padding:10px;
      color:White;
      text-align:left;
      margin-top: 0;
    }
    .paper{
        background-color: white;
        width: 80%;
        height: 50px;
        z-index: 5;
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
        bottom: 65px;
        left: 50px;
        position: absolute;
    }
    .paper-folder__front{
      background-color:#0000cc;
      z-index:10;
      border-radius:20px 20px 0 0;
      width:100%;
      height:110px;
      position:absolute;
      bottom:0;
    }
  }
}

.selection-container{
    background-color:#B5CE87;
    width:100%;
    overflow:hidden;
    padding:10px;
    .selection-entry{
        background-color:white;
        padding:15px;
        border-radius:5px;
        overflow: hidden;
        margin: 10px 0;
        box-shadow:0 0 5px rgba(0, 0, 0, 0.4);

        .selection-entry__item{
            border-bottom:2px solid black;
            float:left;
            width:100%;
            text-align: left;
            &:last-child{
                border-bottom:0;
            }
            h3{
                margin: 5px 0;
                font-weight: 100;
                span{
                    font-weight: bold;
                }
            }
        }
    }
}
.parking-map{
    width: 100vw;
    height: 100vh;


    background: url("../img/parkeringskort.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}