@import "../helpers/mixins";

.consumption-highlights{
    position: relative;
    overflow: hidden;
    margin:20px 0;
    .consumption-highlight__item{
        background-color: #073179;
        border-radius: 50px 0 0 50px;
        float: right;
        margin: 10px 0;
        @include box-shadow;

        &:nth-child(2){
            h2{
                padding-left:10px;
            }
        }

        h2{
            color:white;
            font-size: 18px;   
            padding: 15px 0 15px 25px;
            text-align: right;
            margin: 0 10px;
            font-weight: 100;
        }
    }
}
.image--padding{
    padding: 15px;
}
.img--margin{
    margin-top: 30px;
}