@import "../helpers/mixins";

.nav-shortcut{
    background-image: linear-gradient(#B5CE87, #5B6744);
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0 20px 0;
    @include box-shadow;

    .nav-shortcut__item{
        display: block;
        padding: 10px;
        i.fas{
            float:none;
            width: 36px;
            margin: 0 auto;
            display: block;
            font-size: 30px;
        }
        span{
            color: white;
            display: block;
        }
    }
}

.nav-wheel{
    position:fixed;
    left: 50%;
    bottom:5%;
    margin-left: -40px;
    .nav-wheel__main, .nav-wheel__sublink{
      background-color:#D77F52;
      border:0;
      color:white;
      width:70px;
      height:70px;
      border-radius:50%;
      position:absolute;
      z-index:11;
      bottom:0;
      left:0;
      box-shadow:0 0 8px rgba(0,0,0,0.5);
      transition: all 750ms cubic-bezier(.218,.63,.325,1);
      text-align: center;

      cursor:pointer;
      &:focus{
        outline:none;
      }
      i.fas, i.far{
        font-size:32px;
        margin-left:13px;
        color:white;
      }
      &.icon--margin-left{
        i.far, i.fas{
          margin-left:0;
        }
      }
      &.icon--margin-left--20{
        i.far, i.fas{
          margin-left: 20px;
        }
      }
      &.icon--margin-left--18{
        i.far, i.fas{
          margin-left: 18px;
        }
      }
    }
  
    .nav-wheel__main{
        text-align: center;

        i.fas, i.far{
            margin-top:0;
        }
    }
    .nav-wheel__sublink{
      z-index:-1;
      opacity:0;
      text-align:center;
      //opacity:0; // no good...
  
      i.fas, i.far{
        margin-top:17px;
      }
    }
    &.active{
      transition: all 750ms cubic-bezier(.218,.63,.325,1);
      .nav-wheel__main{
        z-index:50;
        left:0;
      }
      .nav-wheel__sublink{
        opacity:1;
  
        &:nth-child(2){
          left: -75px;
          bottom: 55px;
        }
        &:nth-child(3){
          left:0;
          bottom:95px;
        }
        &:nth-child(4){
          left: 75px;
          bottom: 55px;
        }
      }
    }
  }