body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: url("../img/baggrund-tilpassetOpacity.png") no-repeat center center fixed;
  background-size: cover;
}

.logodiv {
  position: relative;
  width: 100%;
  text-align: center;
}

.Logo {
  position: relative;
  width: 90%;
  top: 130px;
}

.LogoSmall {
  width: 60%;
  text-align: center;
  margin-top: 10px;
  height: 10%;
}

.top {
  top: 20px;
  margin-bottom: 20px;
}

.bg-orange {
  background-color: orange;
}

.bg-green {
  background-color: #B5CE87;
}

.bg-blue {
  background-color: #B4D4C2;
}

.map {
  margin: 0;
  padding: 0;
  text-align: center;
  background: url("../img/gpskort.png") no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: white;
}

.fas {
  font-size: 2em;
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  color: black;
}

a {
  text-decoration: none;
}

.container1 {
  margin: auto;
  height: 100%;
  width: 100%;
  margin-top: 300px;
}

.Button {
  background-color: #D77F52;
  text-align: center;
  border-radius: 25px;
  color: white;
  margin: auto;
  height: 50px;
  width: 200px;
}

.Buttontxt {
  line-height: 45px;
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
}

footer {
  margin-top: 120px;
  width: 100%;
}

.LinkforgottenPasswordtxt {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
}

.garage-flex {
  margin-top: 30px;
  margin-bottom: -30px;
  height: 230px;
  overflow: hidden;
}

.garage-flex h2 {
  position: absolute;
  text-align: left;
  margin-left: 10px;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.garage-flex a img {
  margin-left: 40px;
  height: 200px;
}

.mapTxtBox {
  background-color: #A0A0A0;
  float: right;
  text-align: left;
  border-radius: 10px;
  margin: 10px;
}

.mapTxtBox .varighed, .mapTxtBox .afstand, .mapTxtBox .tank {
  margin-bottom: 40px;
}

.mapTxtBox .maptxt {
  line-height: 6px;
  margin: 20px;
  color: white;
}

.statistic {
  height: 200px;
  border-radius: 15px;
  margin: 20px;
  overflow: hidden;
}

.graf {
  height: 100%;
}

.statisticTal {
  height: 280px;
  border-radius: 20px;
  margin: 20px;
  overflow: hidden;
}

.grafTal {
  padding: 2px;
  width: 330px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
  height: 50px;
}

::-webkit-input-placeholder {
  color: #D6D7D6;
}

:-ms-input-placeholder {
  color: #D6D7D6;
}

::-ms-input-placeholder {
  color: #D6D7D6;
}

::placeholder {
  color: #D6D7D6;
}

:-ms-input-placeholder {
  color: #D6D7D6;
}

::-ms-input-placeholder {
  color: #D6D7D6;
}

Form {
  margin: 200px 40px 0 40px;
}

.Form1 {
  margin-top: 260px;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
  color: #D6D7D6;
  height: 50px;
}

input[type=submit] {
  background-color: #D77F52;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  height: 50px;
  width: 200px;
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.forgottenPasswordtxt {
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  color: #073179;
  text-align: left;
  margin-top: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.formcontrol {
  text-align: center;
  background-color: #B5CE87;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.formcontrol .form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.formcontrol .form-inline input[type=text], .formcontrol .form-inline select {
  width: 20%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.5em;
  font-family: 'Montserrat', sans-serif;
  color: #D6D7D6;
  height: 20px;
  border-radius: 5px;
}

.formcontrol .form-inline input[type=text] .form-inline label, .formcontrol .form-inline select .form-inline label {
  margin: 5px 5px 5px 0;
}

.formcontrol .form-inline input[type=text] .form-inline label .form-inline input, .formcontrol .form-inline select .form-inline label .form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 1em;
}

.form-inline button {
  padding: 3px 6px;
  background-color: #D77F52;
  border: 1px solid #ddd;
  border-radius: 25px;
  color: white;
  font-size: 1em;
  margin: 5px;
  color: black;
  width: 65px;
}

form.form-inline {
  margin: auto;
}

.nav-shortcut {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B5CE87), to(#5B6744));
  background-image: linear-gradient(#B5CE87, #5B6744);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-shortcut .nav-shortcut__item {
  display: block;
  padding: 10px;
}

.nav-shortcut .nav-shortcut__item i.fas {
  float: none;
  width: 36px;
  margin: 0 auto;
  display: block;
  font-size: 30px;
}

.nav-shortcut .nav-shortcut__item span {
  color: white;
  margin-top: 10px;
  display: block;
}

.nav-cards {
  overflow: hidden;
}

.nav-cards .nav-card__item {
  -webkit-box-shadow: 6px 8px 5px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 6px 8px 5px 10px rgba(0, 0, 0, 0.16);
  width: 182px;
  height: 118px;
  float: left;
  margin: 10px;
  background-color: #D77F52;
  border-radius: 6px;
  position: relative;
}

.nav-cards .nav-card__item span {
  color: white;
  font-size: 22px;
  font-weight: bold;
  float: left;
  margin: 6px 0 0 6px;
}

.nav-cards .nav-card__item i.fas {
  font-size: 70px;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.consumption-highlights {
  position: relative;
  overflow: hidden;
}

.consumption-highlights .consumption-highlight__item {
  background-color: #073179;
  border-radius: 50px 0 0 50px;
  float: right;
  margin: 10px 0;
}

.consumption-highlights .consumption-highlight__item:nth-child(2) h2 {
  padding-left: 10px;
}

.consumption-highlights .consumption-highlight__item h2 {
  color: white;
  font-size: 18px;
  padding: 15px 0 15px 25px;
  text-align: right;
  margin: 0 10px;
  font-weight: 100;
}
/*# sourceMappingURL=style.css.map */