a{
    text-decoration: none;
}
.container1{
    margin: auto;
    height: 100%;
    width: 100%;
    margin-top: 300px;
}


.Button{
    background-color: #D77F52;
    text-align: center;
    border-radius: 25px;
    color: white;
    margin: auto;
    height: 50px;
    width: 200px;
}
.Buttontxt{
    line-height: 45px;
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
   
    
}

footer{
   margin-top: 120px;
   width: 100%;
}


.LinkforgottenPasswordtxt{
font-family: 'Montserrat', sans-serif;
color: white;
text-decoration: none;
}

.btn-orange{
    border-radius: 18px;
    background-color:#D77F52;
    border: none;
    width: 95%;
    margin: 10px auto;
    color: white;
    height: 36px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.4);


}
.selection-buttons{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    border-radius:5px;
    padding:2px;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.4);

    button{
        background: none;
        border: none;
        width: 30%;
        &:first-child{
            margin-lefT:-10px;
        }
        &.active{
            background-color:#BDBDBD;
            box-shadow:0 0 5px rgba(0, 0, 0, 0.4);
            border-radius:5px;
        }
        i.fas{
            font-size: 20px;
            width: 25px;
            margin: 0 auto;
            float:none;
        }
    }
}

