a{
    text-decoration: none;
}
.container1{
    margin: auto;
    height: 100%;
    width: 100%;
    margin-top: 300px;
}

.container2{
    
}
.Button{
    background-color: #D77F52;
    text-align: center;
    border-radius: 25px;
    color: white;
    margin: auto;
    height: 50px;
    width: 200px;
}
.Buttontxt{
    line-height: 45px;
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
   
    
}

footer{
   margin-top: 120px;
   width: 100%;
}


.LinkforgottenPasswordtxt{
font-family: 'Montserrat', sans-serif;
color: white;
text-decoration: none;
}