.garage-flex{
    margin-top: 30px;
    margin-bottom: -30px;
    height: 230px;
    overflow: hidden;
    h2{
        position: absolute;
        text-align: left;
        margin-left: 10px;
        color: white;
        margin-top: 0;
        margin-bottom: 0;
    }
    a{
        img{
            
            margin-left: 40px;
            height: 200px;
        }
    }
}

.mapTxtBox{
background-color: #A0A0A0;
float:right;
text-align: left;
border-radius: 10px;
margin: 10px;

    .varighed,.afstand,.tank{
        margin-bottom: 40px;
    }

             .maptxt{
             line-height: 6px;
             margin: 20px;
             color: white;
             }


}

.statistic{
    border-radius: 15px;
    margin: 20px;
    overflow: hidden;
}