@import "../helpers/mixins";

.garage-flex{
    margin-top: 30px;
    margin-bottom: -30px;
    height: 230px;
    overflow: hidden;
    h2{
        position: absolute;
        text-align: left;
        margin-left: 10px;
        color: white;
        margin-top: 0;
        margin-bottom: 0;
    }
    a{
        img{
            
            margin-left: 40px;
            height: 200px;
        }
    }
}

.mapTxtBox{
background-color: #A0A0A0;
float:right;
text-align: left;
border-radius: 10px;
margin: 10px;

    .varighed,.afstand,.tank{
        margin-bottom: 40px;
    }

             .maptxt{
             line-height: 6px;
             margin: 20px;
             color: white;
             }


}

.statistic{
    height: 200px;
    border-radius: 15px;
    margin: 20px;
    overflow: hidden;
}

.graf{
    height: 100%;
}

.statisticTal{
    height: 280px;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
}

.grafTal{
    padding: 2px;
    width: 330px;
}

.nav-cards{
    overflow: hidden;
    margin: 20px 0 20px 5px;
    &.nav-cards--margin{
        margin-top: 0px;
    }

    .nav-card__item{
        @include box-shadow;
        width: 182px;
        height:118px;
        float: left;
        margin: 10px;
        background-color: #D77F52;
        border-radius: 6px;
        position: relative;
        span{
            color: white;
            font-size: 22px;
            font-weight: bold;
            float: left;
            margin: 6px 0 0 6px;

        }
        i.fas{
            font-size: 70px;
            position: absolute;
            right: 15px;
            bottom: 10px;
        }
        h3{
            color: white;
            margin: 6px 0px 20px 7px;
            text-align: left;

        }
        p{
            color: black;

        }
        img{
            height: 70px;
            width: 150px;
            margin: -14px;
        }
    }
}
.fuelcard{
    height: 180px;
    width: 90%;
    margin: 20px 20px 20px;
}