input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
    height: 50px;

    
  }
  
  ::placeholder 
  {color: #D6D7D6;}

  :-ms-input-placeholder{
    color: #D6D7D6;
  }

  ::-ms-input-placeholder{
    color: #D6D7D6;
  }


  Form{
      margin: 200px 40px 0 40px;
  }

.Form1{
    margin-top: 260px;
}

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
    color: #D6D7D6;
    height: 50px;
  }
  
  input[type=submit] {
    background-color: #D77F52;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
    width: 200px;
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }

  .forgottenPasswordtxt{
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    color: #073179;
    text-align: left;
    margin-top: 0;
  }


* {box-sizing: border-box;}

.formcontrol{
  text-align: center;
  background-color: #B5CE87;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
 

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 20px;
  
  

  
  input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 0.5em;
    font-family: 'Montserrat', sans-serif;
    color: #D6D7D6;
    height: 20px;
    border-radius: 5px;

    .form-inline label {
      margin: 5px 5px 5px 0;

      .form-inline input {
        vertical-align: middle;
        margin: 5px 10px 5px 0;
        background-color: #fff;
        border: 1px solid #ddd;
        font-size: 1em;

        
      }
    }
  }
}
}

.form-inline button {
  padding: 3px 6px;
  background-color: #D77F52;
  border: 1px solid #ddd;
  border-radius: 25px;
  color: white;
  font-size: 1em;
  margin: 5px;
  color: black;
  width: 65px;
 
}

form.form-inline{
  margin: auto;
}


.search-bar{
  background-image: linear-gradient(#B5CE87, #5B6744);
  margin-top: 15px;

  .search-field{
    position: relative;
    width: 60%;
    margin: 0 auto;
    input{
      border-radius: 6px;
      background-color: white;
      color: black;
      margin:6px 0;
      height: 30px;
    }
    i.fas{
      position: absolute;
      right: 5px;
      bottom: 10px;
      font-size: 20px;
    }
  }
}
        