

body{
    background-image: url("../img/baggrund-tilpassetOpacity.png");
    margin: 0;
    padding: 0;
    text-align: center;
}

.logodiv{
    position: relative;
    width: 100%;
    text-align: center;
}

.Logo{
    position: relative;
    width: 90%;
    top:130px;
}