.HeadingProfileTextKia{
    margin-left: 10px;
    position: absolute;
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.HeadingProfileTextToyota{
    margin-left: 10px;
    position: absolute;
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.HeadingProfileTextCitroën{
    margin-left: 10px;
    position: absolute;
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
    color: white;
}