body{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

p{
    color: white;
    margin: 0;
}

.fas{
    font-size: 2em;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    color: black;
}

.text-center{
    color: black;
    text-align: center;
    h2{
        font-weight: bold;
    }
    h3{
        color:black;
        font-size: 20px;
    }
}